body.login {
	background: url('bg.jpg') no-repeat top left fixed;
	background-size: 100% 100%;
}
.login h1 a {
	background-image: url('logo.png');
	background-size: 170px 70px;
	width: 300px;
	height: 72px;
}
.login #backtoblog a, .login #nav a{
	color:#fff;
}
.login #nav,.login #backtoblog, .login #nav{
	margin: 0;
	display: inline-block;
	position: relative;
	top: -30px;
	padding: 0;
	width: 40%;
	text-align: center;
	font-size: 15px;	
}
.login form{
	background: rgba(0, 0, 51, 0.5);
	border-radius: 20px;
}
.logmsg{
	line-height: 40px;
	position: absolute;
	margin-top: 350px;
}
.logmsg h2{
	font-size:33px;
	color:#000204;
	font-weight:bold;
}
.logmsg p{
	font-size:20px;
	color:#fefcfb;
	font-weight:bold;
}
.wp-core-ui .button-primary{
	color:#fff;
	background-color:#ff3300;
	border:0;
	border-radius:15px;
	font-size:20px;
	height: 40px !important;
	transition:.5s;
	box-shadow:none !important;
}
.wp-core-ui .button-primary:hover{
	background-color:#000;
	color:#ff3300;
	
}
.login label {
color: #FFF;
}
input[type=checkbox]:checked:before {
margin: -4px 0 0 0px !important;
}
.login #login_error ,.login .message{
background: rgba(255, 255, 255, 0.3);
color:#fff;
}

#login {
padding: 5% 0 0;
}