.hl > li {
	float:right;
}
.acf-image-uploader .no-image {
    float:right;
}
.acf-image-uploader .has-image {
    float:right !important;
}
.acf_postbox .field textarea {
    max-height:200px;
}
.acf_wysiwyg iframe {
    max-height:250px;
}
#global_table_of_contents.fixed {
    right:auto;
    left:0;
}
.itsec-setup-dialog .ui-dialog-titlebar button {
    left:15px;
    right:auto;
}
.ui-dialog {
    right: 0;
    left:0;
    margin:auto;
}
.mce-listbox i.mce-caret {
    right:4px;
    left:auto;
}
html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    margin-left: 0;
}
html[dir="rtl"] .select2-search-choice-close {
    left: auto;
    right: 3px;
}
.acf-editor-wrap iframe {
    height: auto !important;
    min-height: 100px !important;
}
html[dir="rtl"] .acf-oembed .title .acf-icon {
    right:auto;
    left:7px;
}
html[dir="rtl"] .acf-google-map .title .actions {
    right:auto;
    left:0;
}
html[dir="rtl"] .menu-item-settings .description-thin ,
html[dir="rtl"] .menu-item-settings .description-wide {
    direction: ltr;
}
.acf-image-uploader img[src$=".svg"] {
    width:100px;
    height:100px;
}
#viewWrapper {
    direction: ltr;
}
.mce-rtl .mce-listbox i.mce-caret {
    right: 6px;
	left:auto;
}
input[type=search],
input[type=tel],
input[type=time],
input[type=week],
input[type=password],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=number] {
	text-align: left;
	direction: ltr !important;
}
input[type=url],
input[type=email] {
	text-align: left;
	direction: ltr !important;
}
.mce-ico.mce-i-icon.youtube-video {
	background: url(../images/icons/youtube.png) center center no-repeat;
	background-size: contain;
}
.mce-toolbar .mce-listbox button {
    padding-left: 6px;
    padding-right: 20px;
}
.mce-menubar {
	background: #fff !important;
    border: 1px solid rgba(217,217,217,1) !important;
}
div.mce-toolbar-grp {
	background: #fff !important;
}
input.edit-menu-item-title {
	text-align: right;
	direction: rtl;
}
.rtl #form_toolbar {
	right: 100% !important;
	left: auto !important;
}
.acf-gallery .acf-gallery-attachment .thumbnail,
.acf-gallery .acf-gallery-attachment .thumbnail img {
	transform: none !important;
    min-width:100%;
}
#postbox-container-2 p.submit {
	display: flex;
	justify-content: space-between;
}
#MBG {
	background: #027304;
	transition: all .5s ease;
	color:#fff;
	border: 0;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#MBG:hover {
	background: #034204;
}
span.mailtag.unused {
	background: #ac1f0b;
	color: #fff;
}
html[dir="rtl"] .mce-toolbar .mce-listbox button {
	padding-left: 6px;
	padding-right: 20px;
}
td.description.column-description {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
}
.acf-field-accordion h2 span.dashicons-before:before,
.field_type-accordion h2 span.dashicons-before:before {
	margin-left: 0;
	margin-right: 20px;
	top: 2px;
	color: #23282d;
}
.acf-field-accordion:hover:before,
.acf-field-accordion.opened:before,
.field_type-accordion:hover:before,
.field_type-accordion.opened:before {
	right: auto;
	left: 20px;
}
.acf-repeater,
.acf-repeater > table,
.acf-repeater > table tbody,
.acf-repeater .acf-table > tbody > tr { display:-moz-flex;display:-ms-flexbox;display:-webkit-flex;display:flex; }
.acf-repeater,
.acf-repeater > table tbody { -webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse; }
.acf-repeater > table { -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column; }

.acf-repeater .acf-table > tbody > tr > td.acf-field,
.acf-repeater .acf-table > tbody > tr > td.acf-fields {
	width: 100% !important;
}
.acf-repeater ul.acf-actions {
	margin-bottom: 15px;
}
.acf-repeater .acf-row-handle {
	width: 17px !important;
	min-width: 17px !important;
}
.acf-table > tbody > tr:first-child > td {
	border-top-width: 1px !important;
}
.acf-table > tbody > tr:last-child > td {
	border-top-width: 0;
}
.acf-table tbody tr .acf-field {
	margin-bottom: 0;
}