﻿﻿@charset "UTF-8";
/*
Theme Name: Leos Template 3
Theme URI: http://www.leos.co.il
Description: אתר בעיצוב אישי מחברת לאוס מדיה
Author: Dror Seltzer @LEOS
Version: 3
*/

/*
font-family: Almoni;

@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
font-family: 'Open Sans Hebrew', sans-serif;

font-family: 'Amatica SC', cursive;
font-family: 'Assistant', sans-serif;
*/
@font-face{
	font-family:'almoni-tzar';
	font-weight:100; /*(light)*/
	font-style: normal;
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-100.eot');
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-100.eot?#iefix') format('embedded-opentype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-100.ttf') format('truetype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-100.woff') format('woff');
}
@font-face{
	font-family:'almoni-tzar';
	font-weight:200; /*(light)*/
	font-style: normal;
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-200.eot');
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-200.eot?#iefix') format('embedded-opentype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-200.ttf') format('truetype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-200.woff') format('woff');
}
@font-face{
	font-family:'almoni-tzar';
	font-weight:300; /*(light)*/
	font-style: normal;
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-300.eot');
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-300.eot?#iefix') format('embedded-opentype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-300.ttf') format('truetype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-300.woff') format('woff');
}
@font-face{
	font-family:'almoni-tzar';
	font-weight:400; /*(regular)*/
	font-style: normal;
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-400.eot');
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-400.eot?#iefix') format('embedded-opentype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-400.ttf') format('truetype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-400.woff') format('woff');
}
@font-face{
	font-family:'almoni-tzar';
	font-weight:700; /*(bold)*/
	font-style: normal;
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-700.eot');
	src: url('fonts/almoni-tzar/almoni-tzar-aaa-700.eot?#iefix') format('embedded-opentype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-700.ttf') format('truetype'),
		url('fonts/almoni-tzar/almoni-tzar-aaa-700.woff') format('woff');
}

@font-face{
	font-family:'Assistant';
	font-weight:300; /*(light)*/
	font-style: normal;
	src: url('fonts/Assistant/Assistant-Light.ttf') format('truetype');

}
@font-face{
	font-family:'Assistant';
	font-weight:400; /*(regular)*/
	font-style: normal;
	src: url('fonts/Assistant/Assistant-Regular.ttf') format('truetype');
}
@font-face{
	font-family:'Assistant';
	font-weight:700; /*(bold)*/
	font-style: normal;
	src: url('fonts/Assistant/Assistant-Bold.ttf') format('truetype');
}
@font-face{
	font-family:'Assistant';
	font-weight:900; /*(black)*/
	font-style: normal;
	src: url('fonts/Assistant/Assistant-SemiBold.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    		box-sizing: border-box;
}
html,
body {
	font-size: 18px;
	font-family: almoni-tzar;
	height: 100%;
}
iframe { max-width: 100%; }

.hfs12{font-size: 12px;}
.hfs14{font-size: 14px;}
.hfs15{font-size: 15px;}
.hfs16{font-size: 16px;}
.hfs17{font-size: 17px;}
.hfs18{font-size: 18px;}
.hfs19{font-size: 19px;}
.hfs20 { font-size: 20px;font-size: calc(14px + 0.313vw); }
.hfs21 { font-size: 21px;font-size: calc(14px + 0.365vw); }
.hfs22 { font-size: 22px;font-size: calc(16px + 0.313vw); }
.hfs23 { font-size: 23px;font-size: calc(16px + 0.365vw); }
.hfs24 { font-size: 24px;font-size: calc(18px + 0.313vw); }
.hfs25 { font-size: 25px;font-size: calc(18px + 0.37vw); }
.hfs26 { font-size: 26px;font-size: calc(19px + 0.366vw); }
.hfs27 { font-size: 27px;font-size: calc(19px + 0.415vw); }
.hfs28 { font-size: 28px;font-size: calc(20px + 0.418vw); }
.hfs30 { font-size: 30px;font-size: calc(20px + 0.52vw); }
.hfs35 { font-size: 35px;font-size: calc(20px + 0.81vw); }
.hfs37 { font-size: 37px;font-size: calc(20px + 0.88vw); }
.hfs40 { font-size: 40px;font-size: calc(20px + 1.043vw); }
.hfs45 { font-size: 45px;font-size: calc(25px + 1.05vw); }
.hfs50 { font-size: 50px;font-size: calc(20px + 1.56vw); }
.hfs55 { font-size: 55px;font-size: calc(25px + 1.6vw); }
.hfs60 { font-size: 60px;font-size: calc(20px + 2.085vw); }
.hfs65 { font-size: 65px;font-size: calc(25px + 2.1vw); }
.hfs70 { font-size: 70px;font-size: calc(20px + 2.605vw); }
.hfs75 { font-size: 75px;font-size: calc(25px + 2.61vw); }
.hfs80 { font-size: 80px;font-size: calc(25px + 2.87vw); }
.hfs85 { font-size: 85px;font-size: calc(25px + 3.125vw); }
.hfs90 { font-size: 90px;font-size: calc(25px + 3.39vw); }
.hfs95 { font-size: 95px;font-size: calc(25px + 3.64vw); }
.hfs100 { font-size: 100px;font-size: calc(25px + 3.92vw);line-height: 1; }
.hfs105 { font-size: 105px;font-size: calc(25px + 4.17vw);line-height: 1; }
.hfs110 { font-size: 110px;font-size: calc(20px + 4.69vw);line-height: 1; }
.hfs150 { font-size: 150px;font-size: calc(25px + 6.52vw);line-height: 1; }
.hfs180 { font-size: 180px;font-size: calc(25px + 8.6vw);line-height: 0.85; }
.hfs180 { font-size: 180px;font-size: calc(25px + 8.6vw);line-height: 0.85; }
.Assistant{font-family: Assistant !important; font-weight: 400;}
.txright{text-align: right;}
.txleft{text-align: left;}
.topz{top: 0;}
.leftz{left: 0;}
.rightz{right: 0;}
/*colors*/
.wcolor,.white{color:white !important;}
.blcolor{color:black;}
.bluecolor{color:#1E90FF;}
.bgrcolor{background-color:#98b76d;}
.bgwhite{	background-color: rgba(255, 255, 255, 0.8);}
.bgwhite1{	background-color: rgba(255, 255, 255, 0.3);}
.bgrw{background-color: white;}
.bgblack{background-color: rgba(0, 0, 0, 0.5);}
.bgblack1{background-color: rgba(0, 0, 0, 0.7);}



/*width*/
.w5{width: 5%;}
.w10 {width: 10%;}
.w13 {width: 13%;}
.w15 {width: 15%;}
.w20{width: 20%;}
.w21{width: 21%;}
.w25{width: 25%;}
.w28{width: 28%;}
.w30{width: 30%;}
.w33{width: 33%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w49{width: 49%;}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w73{width: 73%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w83{width: 83%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w100{width: 100%;}
.w32{width: 32px;}
.w300{width: 300px;}
.wp5{width: 5px;}
.wp15{width:15px;}
.wp20{width:20px;}
.wp30{width:30px;}
.wp50{width:50px;}
.col2{width: calc(100%/2 - 5px);}
.col222{width: calc(100%/2 - 10px);}
.col20{width: calc(100%/2 - 20px);}
.col2222{width: calc(100%/2 - 30px);}
.col22{width: calc(100%/2 - 100px);}
.row2{width: calc(100%/2);}
.row3{width: calc(100%/3);}
.col3{width: calc(100%/3 - 5px);}
.col33{width: calc(100%/3 - 50px);}
.col333{width: calc(100%/3 - 20px);}
.col3333{width: calc(100%/3 - 15px);}
.colm3{width: calc(100%/3 - 10px);}
.col37{width: 37%;}
.row4{width: calc(100%/4);}
.col444{width: calc(100%/4 - 5px);}
.col4{width: calc(100%/4 - 10px);}
.col44{width: calc(100%/4 - 30px);}
.row5{width: calc(100%/5 - 20px);}
.col5{width: calc(100%/5 - 10px);}
.col55{width: calc(100%/5 - 20px);}
.mxw100{max-width: 100px;}
.mxw200{max-width: 200px;}
.mxw300{max-width: 300px;}
.rad{border-radius: 10px;}
.rad5{border-radius: 5px;}
.top20{top:250px;}
.bottom{bottom:0;}
.left50{left:50px;}
.txright{text-align: right;}
.mrgtb3020{margin: 18px 0px 10px 0px;}

/*height*/
.hp5{height: : 5px;}
.hp15{height:15px;}
.hp30{height:30px;}
.h32{height: 32px;}
.h50{height: 50px;}
.h80{height: 80px;}
.h120{height: 120px;}
.h220{height: 220px;}
.h250{height: 250px;}
.h100{height: 100%;}
.mxh560{max-height: 560px;}
.h120{height: 120px;}
.h950{height: 950px;}
.mxh100{max-height: 100px;}
.mxh150{max-height: 150px;}
.mhx250{max-height: 250px;}
.mxh30{max-height: 300px;}
.mxh35{max-height: 350px;}
.mxh20{max-height: 200px;}
.mxh22{max-height: 220px;}
.mxh27{max-height: 270px;}
.mxh40{max-height: 400px;}
.mxh45{max-height: 450px;}
.mxh50{max-height: 500px;}
.mxh55{max-height: 550px;}
.mxh60{max-height: 600px;}
.mxh65{max-height: 650px;}
.mxh70{max-height: 700px;}
.mxh75{max-height: 750px;}
.mxh80{max-height: 800px;}
.mxh85{max-height: 850px;}
.mxh90{max-height: 900px;}
.bckp{ background-position-y: -105px;}

/*margin/padding*/
.mrgz{margin: 0;}
.mrl5{margin-left: 5px;}
.mrgl10{margin-left: 10px;}
.mrgl20{margin-left: 20px;}
.mrgl30{margin-left: 30px;}
.mrgl50{margin-left: 50px;}
.mrgr5{margin-right: 5px;}
.mrgr10{margin-right: 10px;}
.mrgr20{margin-right: 20px;}
.mrgr30{margin-right: 30px;}
.mrgr35{margin-right: 35px;}
.mrgr100{margin-right: 100px;}
.mrg10{margin: 10px;}
.mrg30{margin:30px;}
.mrg40{margin: 40px;}
.mrgbz{margin-bottom: 0;}
.mrgb5{margin-bottom: 5px;}
.mrgb8{margin-bottom: 8px;}
.mrgb10{margin-bottom: 10px;}
.mrgb15{margin-bottom: 15px;}
.mrgb20{margin-bottom: 20px;}
.mrgb25{margin-bottom: 25px;}
.mrgb40{margin-bottom: 40px;}
.mrgb60{margin-bottom: 60px;}
.mrgb80{margin-bottom: 80px;}
.mrgt5{margin-top: 5px;}
.mrgt10{margin-top: 10px;}
.mrgt15{margin-top: 15px;}
.mrgt20{margin-top: 20px;}
.mrgt40{margin-top: 40px;}
.mrgt50{margin-top:50px;}
.mrgt80{margin-top: 80px;}
.mrglr30{margin: 0px 30px;}
.mrgtb40{margin: 40px 0px;}
.flotleft{float: left; clear: both;}
.mrgtb10{margin: 10px 0px;}
.mrgtb70{margin: 70px 0px;}
/*padding*/
.pdg5{padding:5px}
.pdg10{padding: 10px;}
.pdg20{padding: 20px;}
.pdg30{padding: 30px;}
.pdg40{padding: 40px;}
.pdg35{padding: 35px;}
.pdgtb5{padding: 5px 0px;}
.pdgtb10{padding: 10px 0px;}
.pdgtb15{padding: 15px 0px;}
.pdgtb30{padding: 30px 0px;}
.pdgtb20{padding: 20px 0px;}
.pdgtb40{padding: 40px 0px;}
.pdgtb80{padding: 80px 0px;}
.pdgtb100{padding: 100px 0px;}
.pdglr10{padding: 0px 10px;}
.pdglr20{padding: 0px 20px;}
.pdglr25{padding: 0px 25px;}
.pdglr30{padding: 0px 30px;}
.pdg1020{padding: 10px 20px;}
.pdg4010{padding: 40px 10px;}
.pdgl{padding-left: 20px;}


.pdl10{padding-left: 10px;}
.pdgl40{padding-left: 40px;}
.pdgl20{padding-left: 20px;}
.pdgl3{padding-left: 3px;}

.pdr5{padding-right: 5px;}
.pdr80{padding-right: 80px;}
.pdr10{padding-right: 10px;}
.pdr20{padding-right: 20px;}
.pdr60{padding-right: 60px;}

.pdgt10{padding-top: 10px;}
.pdgt30{padding-top: 30px;}
.pdgt96{padding-top: 96px;}
.pdgt100{padding-top: 100px;}
.pdgt130{padding-top: 130px;}
.pdgt10per{padding-top: 10%;}
.pdgt200{padding-top: 200px;}
.pdgt40{padding-top: 40px;}
.pdgt80{padding-top:80px; }

.pdgb100{padding-bottom: 100px;}
.pdgb80{padding-bottom: 80px;}
.pdgb40{padding-bottom: 40px;}
.pdgb20{padding-bottom: 20px;}
.pdgb15{padding-bottom: 15px;}
.pdgb10{padding-bottom: 10px;}
.pdgb60{padding-bottom: 60px;}
.pdgb70{padding-bottom: 70px;	}
.pdgb5{padding-bottom: 5px;}
.pdgb200{padding-bottom: 200px;}



.container { width: 96%;max-width: 1024px;margin: 0 auto; }
.container.c9 { width: calc(100% - 80px);max-width: none; }
.container.c700 { max-width: 700px; }
.container.c900 { max-width: 900px; }
.container.c12 { max-width: 1200px; }
.container.c13 { max-width: 1300px; }
.container.c14 { max-width: 1400px; }
.container.c15 { max-width: 1500px; }
.container.c16 { max-width: 1600px; }
.container.c17 { max-width: 1730px; }
.container.c18 { max-width: 1800px; }
.container.c19 { max-width: 1900px; }
.clear { clear: both; }
.center { text-align: center; }
.right{ text-align: right;}
.left{text-align: left;}
.alignleft { float: left; }
.lft50{left: 50px;}
.top20p{top:20px;}
.minh120{min-height: 54px;}
.fixedbg { background-attachment: fixed; }
.alignright { float: right; }
.aligncenter { display: block; margin: 0 auto; }
.alignbottom{	  -webkit-box-pack: end;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: flex-end;
	display:-moz-flex;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
   -webkit-box-align: flex-end;
   -ms-flex-align: flex-end;
   -ms-grid-row-align: flex-end;
   -webkit-align-items: flex-end;
   align-items: flex-end;}
.itemscenter{align-items: center;}
.margin {margin: 0 auto;}
.absolute{position: absolute;}
.bottom{bottom:0;}
.bordr{border-right:4px solid #96c22b; padding-right: 10px;}
.bordl{border-left: 1px solid white; }
.bordl2{border-left: 1px solid black; }
.bordlb{border-left: 1px solid black; width: 34%;}
.Assistant{font-family: 'Assistant';}
.tzar{font-family: 'Assistant-tzar';}
.mtzar{font-family: 'mikhmoret-tzar';}
.almr{font-family: 'almoni-tzar';}
.rotate90{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.lh0{ line-height: 0 !important; }
.lh05{ line-height: 0.5 !important; }
.lh1 { line-height: 1; }
.lh11 { line-height: 1.1; }
.lh12 { line-height: 1.2; }
.lh125{line-height: 1.25;}
.lh13 { line-height: 1.3; }
.lh14 { line-height: 1.4; }
.lh15 { line-height: 1.5; }
.lh17{line-height: 1.7;}
.lh19{line-height: 1.9;}
.lh2{line-height: 2;}
.w50 { width: 50%; }
.w100 { width: 100%; }
.h100 { height: 100%; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.bold { font-weight: bold; }
.sbold { font-weight: 600; }
.ebold { font-weight: 800; }
.regular{font-weight: normal;}
.light { font-weight: 300; }
.ultlight{font-weight: 200;}
.bgimg { background-repeat: no-repeat;background-size: cover;background-position: center center; }
.overh { overflow: hidden; }
.block { display: block; }
.imgfix { line-height: 0; }
.zindx{z-index: 100000;}
.bgcontain{ background-repeat:no-repeat; background-size:contain; background-position:center;}
.zinxz{z-index: -1;}
.hidden{display: none;}
.nosite{display: none !important;}
.imgc{max-width: 100%;max-height: 100%;}

/**********BACKGROUNDS***********/
.norpt{background-repeat: no-repeat;}
.bgpc{background-position: center;}
.bgpr{background-position: right;}
.bgpt{background-position: top;}
.bgpb{background-position: bottom;}
.bgpl{background-position: left;}
.bgscov{background-size: cover;}
.bgscon{background-size: contain;}
/****************************/
.wd1500{width: 1500px !important; }

.fixedbg { background-attachment: fixed; }
.notouch { pointer-events: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; }
.relative { position: relative !important; }
.circlebox { border-radius: 50%; }
.abscenter { position: absolute;margin: auto;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%); }
.cp,.clickbtn { cursor: pointer; }
.anim,.clickbtn { -webkit-transition:all .5s ease;transition: all .5s ease; }
.vbox iframe { width: 100%;height: 100%; }

.pointer{cursor: pointer !important;}
.justc{justify-content: center;}
.fcc,.flex,.inrowf { display:-moz-flex;display:-ms-flexbox;display:-webkit-flex;display:flex !important; }
.fcc,.aic { -webkit-box-align: center;-ms-flex-align: center;-ms-grid-row-align: center;-webkit-align-items: center;align-items: center; }
.aifs { -webkit-box-align: start;-ms-flex-align: start;-ms-grid-row-align: flex-start;-webkit-align-items: flex-start;align-items: flex-start; }
.aife { -webkit-box-align: end;-ms-flex-align: end;-ms-grid-row-align: flex-end;-webkit-align-items: flex-end;align-items: flex-end; }
.jcsb,.inrowf { -webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between; }
.jcsa { -webkit-box-pack: space-around;-ms-flex-pack: distribute;-webkit-justify-content: space-around;justify-content: space-around; }
.fcc,.jcc { -webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center; }
.jcfs { -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start; }
.jcfe { -webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end; }
.fdc { -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column; }
.fdcr { -webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse; }
.fdrr { -webkit-flex-direction: row-reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse; }
.fw,.inrowf { -ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap; }
.alignstart{align-items: start;}
.tp p:last-of-type{ font-weight: 300; font-size: 40px;}
div.wpcf7 .ajax-loader { display: none !important; }

svg:not(.color) * { fill: inherit !important; }
/****************************************************************HEADER************************************************/
header
{

}

.headerphone svg
{
	fill:black !important;
	width: 30px;
	height: 30px;
}
.stickyform
{
	position: fixed;
	left: 0;
	top:35%;
	min-width: 60px;
	min-height: 60px;
	background-size: 80%;
	background-position: center;
	z-index: 10000;

}
.hiddenform
{
	display: none;
	position: fixed;
	top:35%;
	left: 0;
	width: 50%;
		background-color: rgba(0,0,0,0.4);
	z-index: 1000;
	-webkit-box-shadow: 10px 10px 64px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 64px -19px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 64px -19px rgba(0,0,0,0.75);
}
.X
{
	position: absolute;
	top:5px;
	right: 5px;
	background-image: url('images/X.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	height: 30px;
	width: 30px;
}
.backtotop
{
	position: absolute;
	left: 50px;
	bottom:100px;
	width: 50px;
	height: 50px;
}
/****************************************************************FRONT************************************************/
.topimages.slick-slider
{
	margin-bottom: 0 !important;
}
/****************************************************************FOOTER************************************************/

	nav#FooterNav {
	  width: 100%;
	  position: relative;
	}

	nav#FooterNav div.main_menu > ul {
		display: block;
	    font-size: 0;
	}
	nav#FooterNav div.main_menu > ul > li {
	    width: 100%;
	    position: relative;
		text-align: right;
	}
	nav#FooterNav div.main_menu > ul > li > a {
		display: inline-block;
		vertical-align: middle;
		font-family: almoni-tzar;
		font-size: 20px;
		color: black;
		padding-right: 25px;
		background-image: url('images/svg/polygon.svg');
		background-repeat: no-repeat;
		background-position: right;
		-webkit-transition: all .5s ease-out;
				transition: all .5s ease-out;
	}
	nav#FooterNav div.main_menu ul li.current-menu-item > a,
	nav#FooterNav div.main_menu ul li:hover > a {
		color: #000;
	}
/****************************************************************ABOUT************************************************/
/****************************************************************ARCHIVE************************************************/
/****************************************************************SINGLE************************************************/
/****************************************************************TAX************************************************/
/****************************************************************TAXSINGLE************************************************/
/****************************************************************CONTACT************************************************/
/****************************************************************ELSE************************************************/

.entry {
    font-size: 25px;
    line-height: 1.4;
	font-family: Assistant;

}
.entry img {
    max-width: 100%;
    height: auto;
}
.entry ul {
    margin: 0 20px;
    list-style: inherit;
}
.entry ul,
.entry ol {
    list-style-position: inside;
}
.entry table {
    border: 1px solid #000;
}
.entry table td {
    border: 1px solid #000;
}
.entry table tr:nth-child(1) > td {
    text-align: center;
    background: #ccc;
}
.entry p {
	margin-bottom: 1em;
}
.entry p:last-of-type {
	margin-bottom: 0;
}
.entry a {
	color: #756e6e;
	border-bottom: 1px solid transparent;
	-webkit-transition: all .5s ease;
			transition: all .5s ease;
}
.entry a:hover {
	border-color: #756e6e;
}
h1,h2,h3 {
    font-weight: normal;
    margin: 0 0 0 0;
}
p { margin: 0 0 0 0; }
a { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; }
ul { margin: 0 0 0 0;list-style: none; }

#wrapper {
	min-height: 100%;
	position: relative;
}
#content {
	padding-bottom: 800px;
	-webkit-transition:all .5s linear;
	        transition: all .5s linear;
}

.acf-map {
    width: 100%;
    height: 366px;
    pointer-events: none;
}

.logo {
    font-size: 0;
}
.logo a {
	display: inline-block;
}
.logo a img {
	max-width: 100%;
}
footer {
    position: absolute;
    bottom: 64px;
    left: 0;
    height: auto;
    min-height: 50px;
    width: 100%;
}
#leos {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
	overflow: hidden;
	line-height: 0;
}
#leos img {
    padding: 10px 0;
    height: 64px;
    width: auto;
}
#leos a {
    position: relative;
    display: inline-block;
}
#leos span {
    opacity: 0;
    position: absolute;
    right: 0;
    color: white;
    font-size: 22px;
	bottom: 30px;
	white-space: nowrap;
    -webkit-animation-duration: 3s;
    		animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    		animation-fill-mode: both;
    -webkit-transition:.3s;
    		transition: .3s;
}
#leos a:hover span {
    opacity: 1;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    backface-visibility: visible !important;
    animation-name: flipInY;
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(100%) perspective(400px) rotateY(-10deg);
            transform: translateX(100%) perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(10deg);
            transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(0deg);
            transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

#FloatSocials {
	position: fixed;
	display: block;
	top:30%;
	left:10px;
	z-index: 90;
}
#FloatSocials a {
	margin-bottom: 5px;
	display: inline-block;
}
#FloatSocials img,
#FloatSocials svg {
	width: 30px;
	height:30px;
	fill:#000;
	-webkit-transition:all .5s ease;
	transition: all .5s ease;
}
a.facebook_icon:hover svg {
	fill: #3b5998 !important;
}
a.google_icon:hover svg {
	fill: #dd4b39 !important;
}
a.twitter_icon:hover svg {
	fill: #00aced !important;
}
a.youtube_icon:hover svg {
	fill: #bb0000 !important;
}
a.instagram_icon:hover svg {
	fill: #e95950 !important;
}
a.pinterest_icon:hover svg {
	fill: #cb2027 !important;
}
a.linkedin_icon:hover svg {
	fill: #007bb6 !important;
}
/* Contact form style Start */
span.wpcf7-form-control-wrap {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
/* Red Ballons CSS */
span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
	position: absolute;
	bottom: 100%;
	background: #f00;
	border-radius: 5px;
	color: #fff;
	padding: 8px 15px;
	font-size: 16px;
	white-space: nowrap;
	left: 5%;
	-webkit-animation: formerror 400ms;
	        animation: formerror 400ms;
}
span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip.tip_out {
	-webkit-transition: all 400ms;
	transition: all 400ms;
	opacity: 0;
	-webkit-transform: translate3d(0,100%,0);
	        transform: translate3d(0,100%,0);
}
span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top:100%;
	left: 10%;
	border-left: 0 solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid #f00;
}
@-webkit-keyframes formerror {
	from {
		opacity: 0;
		bottom: 0;
	}
	to {
		opacity: 1;
		bottom: 100%;
	}
}
@keyframes formerror {
	from {
		opacity: 0;
		bottom: 0;
	}
	to {
		opacity: 1;
		bottom: 100%;
	}
}
/* Input Syles */
input,
div.wpcf7 input,
div.wpcf7 select,
div.wpcf7 textarea,
div.wpcf7 input[type=submit] {
	font-family: 'almoni-tzar', sans-serif;
	font-size: 20px;
    border:0;
    padding: 8px 5px;
}
div.wpcf7 input[type=tel],
div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 select,
div.wpcf7 textarea {
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 10px;
}
div.wpcf7 textarea { height: 188px; }
div.wpcf7 input[type=submit] {
	display: block;
	width: 100%;
	background: #ccc;
	cursor: pointer;
	transition: all .5s ease;
}
/* Bubble animation for replacing ajax img */
@-webkit-keyframes bubbles {
	0% {
		-webkit-transform: scale(1);
		opacity: 1; }

	45% {
		-webkit-transform: scale(0.1);
		opacity: 0.7; }

	80% {
		-webkit-transform: scale(1);
		opacity: 1; } }
@keyframes bubbles {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1; }

	45% {
		-webkit-transform: scale(0.1);
		        transform: scale(0.1);
		opacity: 0.7; }

	80% {
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
	}
}
/* Errors Msgs */
div.wpcf7-response-output {
	position: fixed;
	margin: 0 !important;
	border: none;
	padding: 10px 15px;
    bottom:-100%;
    z-index:9999;
    font-size:22px !important;
    left:50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition:all 1s ease;
    transition: all 1s ease;
}
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
	-webkit-animation: form_msg_error 500ms;
	        animation: form_msg_error 500ms;
    bottom:0;
    color: black;
}
@-webkit-keyframes form_msg_error {
	from {
		bottom:-100%;
	}
	to {
		bottom:0;
	}
}
@keyframes form_msg_error {
	from {
		bottom:-100%;
	}
	to {
		bottom:0;
	}
}
div.wpcf7-mail-sent-ok {
	background: #398f14;
}
div.wpcf7-validation-errors {
	background: #f7e700;
}
.form_msg_error_out {
	-webkit-transition: all 500ms;
	transition: all 500ms;
	-webkit-transform: translate3d(100%,0,0);
	        transform: translate3d(100%,0,0);
}
@-webkit-keyframes form_msg_out {
	from {
		bottom: 0;
	}
	to {
		bottom: -300px;
	}
}
@keyframes form_msg_out {
	from {
		bottom: 0;
	}
	to {
		bottom: -300px;
	}
}
::-webkit-input-placeholder {
	color: black;
	font-family: almoni-tzar;
}
:-moz-placeholder {
	color: black;
	font-family: almoni-tzar;
}
::-moz-placeholder {
	color: black;
	font-family: almoni-tzar;
}
:-ms-input-placeholder {
	color: black;
	font-family: almoni-tzar;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: transparent;
}
/* Contact form style End */

/* LoesLangsSelect Start */
#LoesLangsSelect {
	background-color: #E0DCDC;
	position: relative;
}
#LoesLangsSelect > svg {
	position: absolute;
	top: 9px;
	height: 8px;
	width: auto;
	fill:#000;
}
html[dir=rtl] #LoesLangsSelect > svg {
	left: 7px;
}
html[dir=ltr] #LoesLangsSelect > svg {
	right: 7px;
}
#LoesLangsSelect ul {
	background-color: inherit;
	overflow: hidden;
	-webkit-transition: all .5s ease;
			transition: all .5s ease;
}
#LoesLangsSelect,
#LoesLangsSelect ul li a,
#LoesLangsSelect ul:not(.dropped) {
	height: 26px !important;
}
#LoesLangsSelect ul li,
#LoesLangsSelect ul li a {
	width: 100%;
}
#LoesLangsSelect ul li a {
	padding: 3px 7px;
	box-sizing: border-box;
	-webkit-transition: all .5s ease;
			transition: all .5s ease;
}
#LoesLangsSelect ul li a:hover {
	background-color: #918C8C;
}
#LoesLangsSelect ul li a span {
	display: inline-block;
}
html[dir=rtl] #LoesLangsSelect ul li a {
	padding-left: 25px;
}
html[dir=ltr] #LoesLangsSelect ul li a {
	padding-right: 25px;
}
html[dir=rtl] #LoesLangsSelect ul.hflags li a span {
	margin-right: 5px;
}
html[dir=ltr] #LoesLangsSelect ul.hflags li a span {
	margin-left: 5px;
}
/* LoesLangsSelect End */

/* Start */

/* Responsive */
@media (min-width:800px) {
	#MobBtns,
	#MobNavBtn {
	  display: none;
	}

	nav#MainNav {
	  width: auto;
	  position: relative;
	}
	nav#MainNav * {
	    background: inherit;
	}
	div.main_menu {
	  font-size: 0;
	}
	nav#MainNav div.main_menu > ul {
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    font-size: 0;
	}
	nav#MainNav div.main_menu > ul > li {
	    width: auto;
		padding: 0 20px;
	    position: relative;
	}
	nav#MainNav div.main_menu > ul > li > a {
		display: inline-block;
		vertical-align: middle;
		font-family: almoni-tzar;
		font-size: 20px;
		color: black;
		-webkit-transition: all .5s ease-out;
				transition: all .5s ease-out;
	}
	nav#MainNav div.main_menu ul li.current-menu-item > a,
	nav#MainNav div.main_menu ul li:hover > a {
		color: #000;
	}
	nav#MainNav div.main_menu > ul > li ul.sub-menu {
	    display: block;
	    z-index: 999;
	    width: 250px;
	    position: absolute;
	    top: 100%;
	    right: 0;
	    opacity: 0;
	    pointer-events: none;
	    -webkit-transition: opacity .5s ease;
	    		transition: opacity .5s ease;
	}
	nav#MainNav .sub-menu li {
	    display: block;
	}
	nav#MainNav .sub-menu li a {
	    display: block;
	    font-size: 20px;
	    padding: 5px;
	    width: calc(100% - 10px);
	    -webkit-transition:all .5s ease;
	    		transition: all .5s ease;
	}
	nav#MainNav .menu-item-has-children:hover .sub-menu {
	    opacity: 1;
	    z-index: 10;
	    pointer-events: auto;
	}
}
@media (max-width:1366px) and (min-width:800px) {

}
@media (max-width:1200px) and (min-width:800px) {

}
@media (max-width:1024px) and (min-width:800px) {

}
@media (max-width:800px) , (max-device-width:800px){


		.nomobile { display:none !important; }
		.mblock{display: block !important ;}
		.txleft{text-align: left!important;}
		.txright{text-align: right!important;}
		.mcenter { text-align: center !important; }
		.mrelative { position: relative !important; }
		.minitxt { text-align: initial !important; }
		.mbold{font-weight: bold!important;}
		.hauto{height: auto!important;}
		.mright{right:0!important;}
		.mleft{left:0!important;}
		.mmargin{margin: 0 auto!important;}
		.mrgz{margin: 0;}
		.mpz{padding: 0;}
		.mjust{justify-content: center!important;}
		.bckp64{background-position: 64%;}
		.mtpz{top:0 !important;}
		.mflnone{float: none !important;}
		.mfcc,.mflex { display:-moz-flex;display:-ms-flexbox;display:-webkit-flex;display:flex; }
		.mfcc,.maic { -webkit-box-align: center;-ms-flex-align: center;-ms-grid-row-align: center;-webkit-align-items: center;align-items: center; }
		.maifs { -webkit-box-align: start;-ms-flex-align: start;-ms-grid-row-align: flex-start;-webkit-align-items: flex-start;align-items: flex-start; }
		.maife { -webkit-box-align: end;-ms-flex-align: end;-ms-grid-row-align: flex-end;-webkit-align-items: flex-end;align-items: flex-end; }
		.mjcsb { -webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between; }
		.mjcsa { -webkit-box-pack: space-around;-ms-flex-pack: distribute;-webkit-justify-content: space-around;justify-content: space-around; }
		.mfcc,.mjcc { -webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center; }
		.mjcfs { -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start; }
		.mjcfe { -webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end; }
		.mfdc { -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column; }
		.mfdcr { -webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse; }
		.mfdrr { -webkit-flex-direction: row-reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse; }
		.mfw { -ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap; }
		.jstc{justify-content: center;}
		.mmb5 { margin-bottom: 5px !important; }
		.mpdt30{padding-top: 30px;}
		.mpdr20{padding-right: 20px ;}
		.mpdr30{padding-right: 30px;}
		.mpdr0{padding-right:0;}
		.mpb10{padding-bottom: 10px !important;}
		.mpb30{padding-bottom: 30px !important;}
		.mpb50{padding-bottom: 50px !important;}
		.mpb90{padding-bottom: 90px !important;}
		.mmb10 { margin-bottom: 10px !important; }
		.mmb15 { margin-bottom: 15px !important; }
		.mmb20 { margin-bottom: 20px !important; }
		.mmb25 { margin-bottom: 25px !important; }
		.mmt20{margin-top: 20px !important;}
		.mmt110{margin-top: 110px !important;}
		.mmb90{margin-bottom: 90px !important;}
		.mmb200{margin-bottom: 200px !important;}
		.mmp10{padding: 10px;}
		.mmp30{padding: 30px;}
		.mmb30 { margin-bottom: 30px !important; }
		.mcol2{width: calc(100%/2 - 5px);}
		.mpb10{padding-bottom: 10px !important;}
		.mpdt10{padding-top: 10px;}
		.mpt120{padding-top: 120px;}
		.mpdgb200{padding-bottom: 220px !important;}
		.mdp { padding: 20px 0 !important; }
		.mmw50 { width: 50% !important; }
		.mw55{width: 55% !important;}
		.mw50s5 { width: calc(50% - 5px) !important; }
		.mw50s10 { width: calc(50% - 10px) !important; }
		.mw10{width: 10%;}
		.mw20{width: 20%;}
		.mw30{width: 30%;}
		.mw50{width: 50%;}
		.mw60{width: 60%;}
		.mw70{width: 70%;}
		.mw26{width: 26%;}
		.mw40{width: 40%;}
		.mw90 { width: 90% !important; }
		.mw80 { width: 80% !important; }
		.mmxh1000{max-height: 1000px !important;}
		.mw100 { width: 100% !important; }
		.mmw50{max-width: 50% !important ;}
		.mbw60{width: 60% !important ;}
		.mmw100 { max-width: 100% !important; }
		.mha{max-height:2000px;}
		.halfborderm{border-bottom:none; background:linear-gradient(#98cd67,#98cd67) bottom center  no-repeat;background-size:100% 3px;}
		.mhfs15{font-size: 15px;}
		.mhfs23{font-size: 23px;}
		.mhfs25{font-size: 25px;}
		.mhfs21{font-size: 21px;}
		.mhfs17{font-size: 17px;}
		.mhfs18{font-size: 18px;}
		.mhfs19{font-size: 19px;}
		.mhfs29{font-size: 29px;}
		.mhfs30{font-size: 30px;}
		.mhfs34{font-size: 34px;}
		.mhfs35{font-size: 35px;}
		.mhfs38{font-size: 38px;}
		.mhfs40{font-size: 40px;}
		.mhfs50{font-size: 50px;}
		.mhfs60{font-size: 60px;}
		.borderbot{border-bottom: 3px solid black;}
		.top20{top:150px !important;}
		.bckpy{background-position-y:7px;}
		.mbgrw{	background-color: rgba(255,255,255,0.8);}
		.mbgrb{	background-color: rgba(0,0,0,0.8);}
		.mbxh75{max-height: 750px;}
		.mmxh2000{max-height: 2000px !important;}
		.mmxh3000{max-height: 3000px !important;}
		.bordr{border-bottom:4px solid #96c22b; padding-bottom: 5px; border-right: none;}
		.bckgn{background: none; background-color: #473a2c;}
		.mmxh84{    max-height: 840px;}
		.mlh1{line-height: 1;}
		.mnha{min-height:  auto !important;}
		.mbh350{height: 350px !important;}
		.mbh375{height: 375px !important;}
		.mbh200{height: 200px !important; }
		.mbh400{height: 400px !important;}
		.mbh500{height: 500px !important;}
		.mbh1000{height: 1000px !important;}
		.mbh300{height: 300px !important; }
		.mbh580{height: 580px !important;}
		.mbh600{height: 600px !important; }
		.mbh700{height: 700px !important; }
		.mbh750{height: 750px !important; }
		.mbh950{height: 950px !important;}
		.mbh1200{height: 1200px !important;}
		.mbh2000{height: 2000px !important;}
		.mbh2500{height: 2500px !important;}
		.mbh3000{height: 3000px !important;}
		.mmnh350{min-height: 350px !important;}
		.mmnh400{min-height: 400px !important;}
		.mmnh450{min-height: 450px !important;}
		.mmnh500{min-height: 500px !important;}
		.mh50{height: 50%;}
		.noback{background-image: none !important;}
		.mbgscov{background-size: cover !important;}
		.rpty{background-repeat: repeat-y !important;}
		.nosite{display: block!important;}
		.bnone{border:none !important;}
		.mbpr{background-position: right;}
		.mbpc{background-position: center;}
		.mwhite{color:white !important;}
		.mblack{color:black !important;}
		#content { padding-bottom:0; }
		#leos { position:static; }
		footer { position:static;  }

	/********************************************************************************************************************/

	#MobNavBtn,
	nav#MainNav {
		-webkit-border-top-left-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	#MobNavBtn {
		display: block;
		position: absolute;
		top:10px;
		right:100%;
		width:45px;
		height:45px;
		background:inherit;
		z-index: 9999;
	}
	#MobNavBtn span {
		display: block;
		height:4px;
		width: 70%;
		background: #fff;
		position: absolute;
		top:50%;
		left:50%;
		margin:0 auto;
		-webkit-transition:all .5s ease;
				transition: all .5s ease;
		opacity: 1;
	}
	#MobNavBtn span:nth-child(1) {
		-webkit-transform: translate(-50%,-280%);
				transform: translate(-50%,-280%);
	}
	#MobNavBtn span:nth-child(2) {
		-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
	}
	#MobNavBtn span:nth-child(3) {
		-webkit-transform: translate(-50%,180%);
				transform: translate(-50%,180%);
	}
	nav.active #MobNavBtn span:nth-child(2) {
		opacity: 0;
		visibility: hidden;
	}
	nav.active #MobNavBtn span:nth-child(1) {
		-webkit-transform: translate(-50%,-50%) rotate(-45deg);
				transform: translate(-50%,-50%) rotate(-45deg);
	}
	nav.active #MobNavBtn span:nth-child(3) {
		-webkit-transform: translate(-50%,-50%) rotate(45deg);
				transform: translate(-50%,-50%) rotate(45deg);
	}
	nav#MainNav .container,
	nav#MainNav div.main_menu {
		width: 100%;
	}
	nav#MainNav {
		display:block;
		position:fixed;
		width:200px;
		z-index:999;
		bottom:0;
		top:0;
		right:-200px;
		height:100vh;
		-webkit-transition:all .5s ease;
				transition: all .5s ease;
	}
	nav#MainNav,
	nav#MainNav ul.sub-menu {
		background-color: #252525 !important;
	}
	nav#MainNav.active {
		right:0;
	}
	nav#MainNav div.main_menu > ul {
		display: block;
		height: calc(100vh - 50px);
		overflow-x: hidden;
		overflow-y: auto;
	}
	nav#MainNav ul li:after {
		display:none;
	}
	nav#MainNav ul li {
		position: relative;
	}
	nav#MainNav ul li a {
		display: block;
		color:#fff;
		font-size: 20px;
		padding:5px 10px;
		width:calc(100% - 20px);
	}
	nav#MainNav div.main_menu > ul > li > a {
		padding:5px 10px 5px 30px;
		width:calc(100% - 40px);
		font-size: 22px;
	}
	nav#MainNav div.main_menu ul li.active,
	nav#MainNav div.main_menu ul li.current-menu-item {
		background-color: #3b3a3a;
	}
	nav#MainNav div.main_menu ul.active .back-to-menu:after,
	nav#MainNav div.main_menu ul li.menu-item-has-children:after {
		display: block;
		content: '';
		position: absolute;
		top: 12px;
		left: 6px;
		width: 16px;
		height: 16px;
		background: url(images/svg/wmob-menu-arrow.svg) center center no-repeat;
		background-size:contain;
		-webkit-transition:all .5s ease;
				transition: all .5s ease;
	}
	nav#MainNav div.main_menu ul.active .back-to-menu:after {
		-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
	}
	nav#MainNav div.main_menu ul.active li.menu-item-has-children {
		padding: 0;
		width: 100%;
	}
	nav#MainNav div.main_menu ul.active li.menu-item-has-children:after {
		display: none;
	}
	ul.sub-menu {
		display: none;
	}
	nav#MainNav div.main_menu > ul > li > ul.sub-menu {
		display: block;
		position: absolute;
		top:0;
		width: 100%;
		opacity: 0;
		overflow: hidden;
		pointer-events: none;
		background-color: inherit;
		-webkit-transition:all .5s ease;
				transition: all .5s ease;
	}
	nav#MainNav div.main_menu > ul > li > ul.sub-menu.chekd {
		height:0;
		position: relative;
		visibility: visible;
		pointer-events: auto;
	}
	nav#MainNav ul.sub-menu li:not(.back-to-menu) {
		display: block;
		width: calc(100% - 10px);
		margin: 0 auto 0 0;
		padding: 0;
		position: relative;
	}
	nav#MainNav ul.sub-menu li:nth-child(1),
	nav#MainNav	ul.sub-menu li:nth-child(2) {
		margin: 0;
		width: 100%;
	}
	nav#MainNav div.main_menu > ul > li.active > ul.sub-menu {
		opacity: 1;
	}
	nav#MainNav div.main_menu > ul.active > li > a {
		position: absolute;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}
	nav#MainNav .back-to-menu {
		cursor: pointer;
	}

    #MobBtns {
        display: block;
        position: fixed;
        bottom:3px;
        left:2.5px;
        z-index: 99999;
    }
	#MobBtns a {
		width:40px;
		height:40px;
		border-radius: 50%;
		margin: 2.5px 0;
		background: #e01600;
		position: relative;
	}
	#MobBtns a svg {
		fill: #fff;
		width:60%;
		height:60%;
	}
	table {
		width:100%;
	}
	thead {
		display: none;
	}
	tr:nth-of-type(2n) {
		background-color: inherit;
	}
	tr td:first-child {
		background: #f0f0f0;
		font-weight:bold;
		font-size:1.3em;
	}
	tbody td {
		display: block;
		text-align:center;
	}
	tbody td:before {
	    content: attr(data-th);
	    display: block;
	    text-align:center;
	}
}
@media (max-width:500px) , (max-device-width:500px) {

}
